@font-face {
    font-family: Lato;
    src: url('fonts/Lato/Lato-Regular.ttf');
}
@font-face {
    font-family: Lato_Bold;
    src: url('fonts/Lato/Lato-Bold.ttf');
}
@font-face {
    font-family: Lato_Light;
    src: url('fonts/Lato/Lato-Light.ttf');
}

